* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.signIn-Box {
	margin-top: 30px;
}
body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background-color: #f2f2f2; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/*----------------------------------------*/
/* Log In Page
/*----------------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background: none;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 40px 50px 40px;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
          transform: translate3d(-640px, 0, 0);
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.cont.s--signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  -webkit-transform: translateX(520px);
          transform: translateX(520px);
}
.img__text.m--in {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.form-label{
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}

label {
  display: block;
  text-align: left;
  margin: 25px auto 0;
}
label span {
  letter-spacing: 2px;
  font-size: 10px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  font-size: 16px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: left;
}

.forgot-pass {
  width: 160px;
  margin: 0 1% 0 27%;
  letter-spacing: 2px;
  text-align: left;
  font-size: 10px;
  color: #cfcfcf;
}

.submit {
	text-align: center;
	width: 300px;
  margin-top: 40px;
  margin-right: 40%;
  background: #d4af7a;
  text-transform: uppercase;
  border-radius: 20px;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}

.email-password{
	display: flex;
	flex-direction: column;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
          transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}

.icon-link img {
  width: 100%;
  vertical-align: top;
}

.icon-link--twitter {
  left: auto;
  right: 5px;
}

/*----------------------------------------*/
/* Header
/*----------------------------------------*/
.alert button {
	line-height: 0.7;
}

.alert {
    position: fixed;
    z-index: 998;
    right: 36vw;
    top: 4vw;
}

.alert-heading{

	padding-right: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  	font-size: 14px;
  	font-weight: 350;
}

.test{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: large;
	
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 14px;
}

img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;	
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */
.site-btn {
	padding: 14px 23px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 2px;
	background: #F8985B;
	letter-spacing: 1px;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-wide {
	padding: 14px 35px;
}

.site-btn.sb-line {
	background-color: transparent;
	border: 2px solid #F8985B;
	color: #fff;
	letter-spacing: 2px;
}

.site-btn.sb-light-line {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	letter-spacing: 2px;
}

.site-btn.sb-full {
	width: 100%;
	display: block;
}

/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		border: 4px solid #F8985B;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		border: 4px solid #069979;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
		border: 4px solid #F8985B;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #F8985B;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
	Helper CSS
-----------------------*/
.section-title {
	text-align: center;
	margin-bottom: 70px;
}

.section-title span {
	font-size: 16px;
	font-weight: 500;
	color: #F8985B;
	margin-bottom: 10px;
	display: block;
}

.section-title h2 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.spad {
	padding: 100px 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

/* /*---------------------
	Header section
-----------------------*/
.navbar-collapse{
	display: block;
}

.nav-link .dropdown {
    color:#252525;
    background-color: none;
    border-color: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
	border: none;
}

.nav-link > i {
	padding: 10px;
}

.nav-link > i {
	display: inline;
}


.about-section {
	padding-top: 0px;
}

.main-menu{
	text-transform: uppercase;
	font-weight: 350;
	font-size: 14px;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}

.main-menu a {
	color: #252525;
	padding-top: 5px;
}

.main-menu :hover {
	font-weight: 450;
	color: #F8985B;
}

.main-menu.active a {
	font-weight: 450;
	color: #F8985B;
}

/*---------------------
	Event Section
-----------------------*/
.event-section {
	background: #F8985B;
	padding: 20px 0;
}

.event-section .counter {
	display: inline-block;
	margin: 0 20px;
}

.event-section .counter .counter-item {
	padding: 15px 25px;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	border-right: 1px solid #F8985B;
	text-align: center;
	display: inline-block;
}

.event-section .counter .counter-item:last-child {
	border-right: none;
}

.event-section .counter .counter-item h4 {
	font-size: 30px;
	color: #fff;
}

.event-section .site-btn {
	position: relative;
	top: -15px;
}

.event-date {
	display: inline-block;
	text-align: center;
	background: #252525;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	width: 75px;
	font-size: 12px;
	margin-right: 30px;
	padding-bottom: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.event-date h2 {
	display: block;
	background: #fff;
	color: #F8985B;
	padding: 8px 0;
	font-weight: 700;
	margin-bottom: 5px;
}

.event-info h3 {
	padding-top: 5px;
	margin-bottom: 5px;
	color: #fff;
}

.event-info p {
	color: #fff;
	font-family: "Lora", serif;
	font-style: italic;
	font-size: 15px;
	margin-bottom: 0;
}

.event-info p i:last-child {
	margin-left: 15px;
}

/*---------------------
	About Section
-----------------------*/
.about-content h2 {
	margin-bottom: 30px;
}

.about-content .site-btn {
	margin-top: 40px;
}

/*---------------------
	Service Section
-----------------------*/
.services-section {
	background: #f6f8f9;
}

.service-box h4 {
	margin-left: 15px;
}

.service-box h4 i {
	color: #F8985B;
	margin-right: 10px;
}

.service-box p {
	margin-left: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10px;
	padding-top: 5	px;
}

.service-box .s-readmore {
	color: #b7b7b7;
	font-size: 17px;
}

.service-box .s-readmore i {
	color: #F8985B;
}

/*---------------------
	Event Section
-----------------------*/
.event-list .el-item {
	margin-bottom: 50px;
}

.event-list .el-item:last-child {
	margin-bottom: 0;
}

.event-list .el-thubm {
	height: 262px;
}

.event-list .el-header {
	display: block;
	margin-bottom: 25px;
}

.event-list .el-date {
	display: inline-block;
	text-align: center;
	background: #F8985B;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	width: 75px;
	font-size: 12px;
	margin-right: 30px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.event-list .el-date h2 {
	display: block;
	background: #f5f5f5;
	color: #000;
	padding: 8px 0;
	font-weight: 600;
	margin-bottom: 5px;
	border-radius: 4px 4px 0 0;
}

.event-list h3 {
	padding-top: 5px;
}

.event-list .el-metas {
	padding-top: 15px;
}

.event-list .el-metas .el-meta {
	display: inline-block;
	font-family: "Lora", serif;
	font-style: italic;
	font-size: 16px;
	margin-right: 15px;
}

.event-list .el-metas .el-meta i {
	color: #F8985B;
}

.event-list .el-metas .el-meta:last-child {
	margin-right: 0;
}

.event-list p {
	margin-bottom: 25px;
}

.event-list .site-btn {
	color: #F8985B;
}


/*---------------------
	Blog Section
-----------------------*/
.blog-section {
	background: #f7f8f8;
}

.blog-item .bi-thumb {
	width: 100%;
	height: 250px;
}

.blog-item .bi-content {
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0 30px 40px rgba(231, 234, 236, 0.7);
	        box-shadow: 0 30px 40px rgba(231, 234, 236, 0.7);
}

.blog-item .bi-content .date {
	font-size: 14px;
	font-family: "Lora", serif;
	font-style: italic;
	color: #F8985B;
	margin-bottom: 10px;
}

.blog-item .bi-content h4 {
	line-height: 1.4;
	margin-bottom: 20px;
}

.blog-item .bi-content h4 a {
	color: #252525;
}

.blog-item .bi-content .bi-author {
	display: inline-block;
	font-size: 14px;
	font-family: "Lora", serif;
	font-style: italic;
	color: #b7b7b7;
	margin-top: 3px;
}

.blog-item .bi-content .bi-author a {
	color: #252525;
}

.blog-item .bi-content .bi-cata {
	display: inline-block;
	background: #ebebeb;
	color: #252525;
	padding: 6px 10px;
	font-size: 11px;
	text-transform: uppercase;
}

/*---------------------
	Newsletter Section
-----------------------*/
.newsletter-section {
	padding: 55px 0;
	background: #F8985B;
}

.newsletter-section h4 {
	color: #fff;
	font-weight: 700;
	padding-top: 8px;
}

.newsletter-form {
	position: relative;
	padding-left: 30px;
}

.newsletter-form input {
	background: #F8985B;
	width: 100%;
	height: 47px;
	padding-left: 25px;
	border-radius: 2px;
	padding-right: 170px;
	color: #fff;
	border-bottom: #d3dae9;
}

.newsletter-form .nl-send-btn {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	background: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 2px;
	color: #F8985B;
	border: none;
	padding: 0 25px;
	border-radius: 2px;
	border-width: 80px;
}

.newsletter-form ::-webkit-input-placeholder {
	color: #fff;
}

.newsletter-form :-ms-input-placeholder {
	color: #fff;
}

.newsletter-form ::-ms-input-placeholder {
	color: #fff;
}

.newsletter-form ::placeholder {
	color: #fff;
}

/*---------------------
	Footer top Section
-----------------------*/
.footer-top-section {
	position: relative;
}

.footer-top-section .map-area {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	bottom: 0;
	background: #f6f6f6;
}

.footer-top-content h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer-top-content h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

.footer-top-content h5 {
	font-size: 24px;
	font-weight: 400;
}

.footer-top-content p {
	font-size: 18px;
	color: #636363;
	margin-bottom: 25px;
}

.footer-top-content p span {
	color: #252525;
	font-weight: 600;
}

/*---------------------
	Footer Section
-----------------------*/
.footer-section {
	padding: 20px 80px;
	background: #F8985B;
}

.footer-section .social {
	text-align: right;
	display: block;
	padding-top: 5px;
}

.footer-section .social a {
	color: #fff;
	margin-right: 30px;
}

.footer-section .social a:last-child {
	margin-right: 0;
}

.copyright p {
	font-size: 14px;
	color: #fff;
	text-align: center;
}

/*---------------------
	Other Pages
-----------------------
=======================*/

.page-info-section {
	height: 200px;
	position: relative;
}

.page-info-section:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.65;
}

.page-info-section .page-info-content {
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	z-index: 2;
}

.page-info-section .page-info-content .pi-inner {
	display: table-cell;
	vertical-align: middle;
}

.page-info-section .page-info-content h2 {
	color: #fff;
	margin-bottom: 15px;
}

.page-info-section .site-breadcrumb {
	padding-left: 2px;
}

.page-info-section .site-breadcrumb a,
.page-info-section .site-breadcrumb span {
	color: #fff;
}

.page-info-section .site-breadcrumb i {
	color: #fff;
	margin: 0 8px;
}

.pagination-area {
	padding-top: 60px;
	position: relative;
}

.pagination-area p {
	float: right;
	margin-bottom: 0;
	padding-top: 9px;
}

.pageination-list {
	list-style: none;
	display: inline-block;
}

.pageination-list li {
	display: inline;
}

.pageination-list a {
	display: inline-block;
	color: #252525;
	border: 1px solid #ebebeb;
	padding: 10px 14px;
	margin-right: 3px;
	font-size: 16px;
	border-radius: 2px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.pageination-list a:hover {
	color: #fff;
	background: #F8985B;
	border: 1px solid #F8985B;
}

/*---------------------
	About Page
-----------------------*/
.pastor {
	text-align: center;
	padding: 30px;
	border-radius: 1px;
	-webkit-box-shadow: 0px 15px 60px rgba(76, 74, 74, 0.14);
	        box-shadow: 0px 15px 60px rgba(76, 74, 74, 0.14);
}

.pastor .pastor-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: 0 auto 28px;
}

.pastor h3 {
	font-size: 20px;
}

.pastor p {
	font-family: "Lora", serif;
	font-style: italic;
	margin-bottom: 0;
	color: #F8985B;
}

/*---------------------
	Sermons Page
-----------------------*/
.sermons-list-section .pagination-area {
	padding-top: 10px;
}

.sermon-item {
	margin-bottom: 50px;
}

.sermon-item .si-thumb {
	height: 250px;
}

.sermon-item .sermon-info {
	margin-bottom: 10px;
}

.sermon-item .si-content {
	padding: 30px;
	text-align: center;
	-webkit-box-shadow: 0 30px 40px rgba(231, 234, 236, 0.8);
	        box-shadow: 0 30px 40px rgba(231, 234, 236, 0.8);
}

.sermon-item .si-content h4 {
	margin-bottom: 15px;
}

.sermon-item .icon-links {
	margin-top: 0;
}

.sermon-item .icon-links a {
	background: #f6f8f9;
	-webkit-box-shadow: 0 0 0px 1px #ebebeb;
	        box-shadow: 0 0 0px 1px #ebebeb;
}

.sermon-item .icon-links a:hover {
	background: #F8985B;
}

/*---------------------
	Blog Page
-----------------------*/
.blog-page .pagination-area {
	padding-top: 10px;
}

.blog-page .blog-item {
	margin-bottom: 50px;
}

/*---------------------
	Single Blog Page
-----------------------*/
.single-post .post-content {
	margin-bottom: 35px;
}

.single-post .post-thumb {
	margin-bottom: 40px;
}

.single-post .date {
	font-size: 14px;
	font-family: "Lora", serif;
	font-style: italic;
	color: #F8985B;
	margin-bottom: 10px;
}

.single-post .post-title {
	font-weight: 400;
	margin-bottom: 15px;
}

.single-post .post-metas {
	margin-bottom: 30px;
}

.single-post .post-metas .post-meta {
	display: inline-block;
	font-size: 14px;
	font-family: "Lora", serif;
	font-style: italic;
	color: #b7b7b7;
	margin-top: 3px;
}

.single-post .post-metas .post-meta a {
	color: #252525;
}

.single-post p {
	font-size: 14px;
}

.single-post blockquote {
	margin: 30px 0;
	border-left: 2px solid #F8985B;
	padding: 8px 28px;
	font-size: 18px;
	font-family: "Lora", serif;
	font-style: italic;
	color: #636363;
}

.single-post blockquote span {
	display: block;
	font-family: "Open Sans", sans-serif;
	color: #F8985B;
	font-style: normal;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.single-post .post-tags a {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 15px;
	margin-right: 2px;
	margin-top: 5px;
	color: #636363;
	background: #ebebeb;
}

.single-post .social-share {
	display: block;
	text-align: right;
}

.single-post .social-share p {
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
}

.single-post .social-share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 6px;
	text-align: center;
	border-radius: 40px;
	background: #f1f1f1;
	color: #343e51;
	padding-top: 10px;
	font-size: 14px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.single-post .social-share a:hover {
	color: #fff;
	background: #F8985B;
}

.single-post .post-nav {
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
	border-top: 1px solid #ebebeb;
}

.single-post .post-nav a {
	font-size: 16px;
	color: #636363;
}

.single-post .post-nav a i {
	color: #F8985B;
}

.single-post .post-nav .next-post {
	float: right;
}

.comment-form h2 {
	margin-bottom: 40px;
}

.comment-form input[type='text'],
.comment-form input[type='email'],
.comment-form textarea {
	width: 100%;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	padding: 16px 20px;
	margin-bottom: 20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.comment-form input[type='text']:focus,
.comment-form input[type='email']:focus,
.comment-form textarea:focus {
	border-color: #232d37;
	outline: none;
}

.comment-form textarea {
	height: 120px;
	margin-bottom: 40px;
}

.widget {
	padding-left: 25px;
	margin-bottom: 50px;
}

.widget .widget-title {
	margin-bottom: 30px;
}

.widget ul {
	list-style: none;
}

.widget ul a {
	display: block;
	position: relative;
	color: #636363;
	font-size: 16px;
	padding-left: 30px;
	margin-bottom: 25px;
}

.widget ul a:after {
	position: absolute;
	content: "\f0da";
	font-family: 'FontAwesome';
	left: 0;
}

.widget ul a:hover,
.widget ul a:hover:after {
	color: #F8985B;
}

.widget .search-widget {
	max-width: 270px;
	position: relative;
}

.widget .search-widget input {
	width: 100%;
	padding: 15px 20px;
	padding-right: 50px;
	background: #ebebeb;
	border: none;
	font-size: 14px;
}

.widget .search-widget button {
	position: absolute;
	right: 10px;
	top: 0;
	color: #dd3e3e;
	height: 100%;
	border: none;
	background-color: transparent;
}

.widget .recent-post-widget .rp-item {
	margin-bottom: 20px;
	display: block;
	overflow: hidden;
}

.widget .recent-post-widget .rp-thumb {
	width: 83px;
	height: 83px;
	float: left;
	margin-right: 30px;
}

.widget .recent-post-widget .rp-content p {
	font-size: 14px;
	font-family: "Lora", serif;
	font-style: italic;
	color: #dd3e3e;
	line-height: normal;
	margin-bottom: 18px;
}

.widget .recent-post-widget .rp-content h5 {
	font-size: 18px;
	line-height: 1.4;
}

.widget .archive a {
	padding-left: 0;
	font-family: "Lora", serif;
	font-style: italic;
}

.widget .archive a:after {
	display: none;
}

.widget .tags a {
	display: inline-block;
	min-width: 75px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 9px 20px;
	margin-right: 8px;
	margin-bottom: 8px;
	color: #636363;
	border: 1px solid #e5e5e5;
}

/*---------------------
	Contact Page
-----------------------*/
.full-map {
	height: 520px;
	background: #ddd;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
	width: 100%;
	border: 1px solid #ebebeb;
	background: #f6f8f9;
	font-size: 16px;
	padding: 16px 20px;
	margin-bottom: 20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.contact-form textarea {
	height: 120px;
	margin-bottom: 40px;
}